{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'meetups/styles/base.css' %}" />
    <title>Events</title>
  </head>
  <body>
    <h1>Meetups</h1>

    {% if show_meetups %} {% for meetup in meetups %}
    <h2>{{ meetup.title }}</h2>
    {% endfor %} {% else %}
    <h2>No Meetups Found!</h2>
    {% endif %}
  </body>
</html>
